//
// Application.xcconfig
//
// Copyright © 2017 Netguru Sp. z o.o. All rights reserved.
// Licensed under the MIT License.
//
// This file contains general build settings used by iOS application targets.
//

#include "../../External/iOS/iOS-Application.xcconfig"
#include "../Base/Common.xcconfig"
