//
// Precomposed/macOS-Application.xcconfig
//
// Copyright © 2017 Netguru Sp. z o.o. All rights reserved.
// Licensed under MIT License.
//
// This file contains precomposed build settings for an macOS application.
//

#include "../Platforms/macOS.xcconfig"
#include "../Targets/Application.xcconfig"
