//
// Precomposed/watchOS-Framework.xcconfig
//
// Copyright © 2017 Netguru Sp. z o.o. All rights reserved.
// Licensed under MIT License.
//
// This file contains precomposed build settings for an watchOS framework.
//

#include "../Sdks/watchOS.xcconfig"
#include "../Platforms/watchOS.xcconfig"
#include "../Targets/Framework.xcconfig"
